.container-zero-margin {
    margin: 0;
    padding: 0;
}

output {
    display: block;
}

/*
.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

.parent {
display: flex; /* Make the parent a flex container */
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically (optional) */
}

table {
    border-collapse: collapse;
    width: 100%;
}

/*
.calc-entry th,
.calc-entry td {
    min-width: 80px;
    white-space: nowrap;
    padding: 0px 5px;
}
*/

.calcEntry {
    display: auto;
}

.calc-entry th,
.calc-entry td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left; /* Align text to the left */
}

.calc-entry td:hover {
    overflow: visible;
    white-space: normal;
    text-overflow: initial;
  }

@media print {
    .element-to-hide-when-print {
      display: none !important;
    }
  }
