div.container-zero-margin {
    margin: 0;
    padding: 0;
    width: 100%;
}

output {
    display: block;
}

.format-left-w {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
}

.format-equal-w {
    min-width: 60px;
    max-width: 60px;
    width: 60px;
    text-align: center;
}

.format-right-w {
    min-width: 280px;
    max-width: 280px;
    width: 280px;
}

.container-lg {
    width: 100%;
    max-width: 100%;
}

/*
.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

.parent {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

div.parent:hover {
    background-color: #f0f0f0;
    color: #333;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
}

table {
    border-collapse: collapse;
    width: 100%;
}

#add-order {
    display: block;
}

.calc-entry th,
.calc-entry td {
    // min-width: 70px;
    width: 70px;
    // max-width: 110;
    white-space: nowrap;
    padding: 0px 2px;
}

table.calc-entry tr td:nth-child(1) {
    width: 170px;
    max-width: 170px;
}

table.calc-entry tr td:nth-child(2) {
    min-width: 180px;
    width: 180px;
    max-width: 180px;
}

table.calc-entry tr td:nth-child(3) {
    min-width: 220px;
    width: 220px;
    max-width: 220px;
}

.calcEntry {
    display: auto;
}

.calc-entry th,
.calc-entry td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left; 
}

div.parent-of-confirm {
    display: flex;
}

div.column-plus-circle {
    width: 200px;
    max-width: 500px;
}

div.parent:hover .calc-entry td  {
    overflow: visible;
    white-space: normal;
    text-overflow: initial;
}

/*
.calc-entry td:hover {
    overflow: visible;
    white-space: normal;
    text-overflow: initial;
  }
*/

  div.parent-div-for-orders > div:nth-child(odd) {
      // background-color: azure;
      // background-color: CornflowerBlue;
     background-color: LightSkyBlue;
  }

  div.parent-div-for-orders > div:nth-child(even) {
      background-color: white;
  }

  div.parent-div-for-formats > div:nth-child(odd) {
     background-color: LightSkyBlue;
  }

  div.parent-div-for-formats > div:nth-child(even) {
      background-color: white;
  }

@media print {
    .element-to-hide-when-print {
      display: none !important;
    }
  }
